.env
.env.dev
venv/
dipl_async/
.pytest_cache/
data/
.env.example
.gitignore
basket.json
db_structure.png
docker-compose.yml
docker-compose.dev.yml
Dockerfile
Dockerfile.celery
pattern_docker-compose.yml
README_2.md
README.md
requirements_initial.txt
testy.py
local_dev/
local_dev_settings.py
