DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=database
SECRET_KEY=vf45tgby67uhK()_Pl;-=[;/.,mnhy78ijnm,lp-09876trfcvhj
DEBUG=True
ALLOWED_HOSTS=allowed_hosts_separated_by_comma
EMAIL_HOST_PASSWORD=email_host_password
EMAIL_HOST_USER=example_username@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=email_port
EMAIL_USE_SSL=True
SERVER_EMAIL=EMAIL_HOST_USER
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=pgadmin_password
PGADMIN_CONFIG_SERVER_MODE=False
